.tags {
  display: flex;
  margin: 10px 0;
  gap: 20px;
}

.tag {
  padding: 5px;
  background-color: #ff6060;
  color: white;
  font-weight: 600;
  font-size: 0.8rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
